@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Libre";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/src/assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Libre-italic";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/src/assets/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Libre";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/src/assets/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montez";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/src/assets/fonts/Montez/Montez-Regular.ttf") format("truetype");
}
svg #line {
  fill: none;
  stroke: #e00000;
  stroke-width: 1.5;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-miterlimit: 4;

  stroke-opacity: 1;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 3s linear infinite;
}
svg #point {
  fill: none;
  stroke: #f00000;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: .1;
  stroke-opacity: 1;
  stroke-dasharray: .0001, .9999;
  stroke-dashoffset: 1;
  animation: dash 3s linear infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1;
  }
  80% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}